.appMain {
  background: var(--brown-2);
}

.content {
  overflow: hidden;
  border-radius: var(--radius-5);
}

.figures {
  background: var(--sand-3);

  &.empty {
    justify-content: center;
    align-items: center;
  }
}

.separator {
  background: var(--brown-2);
}

.chartCard {
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--sand-1);
  opacity: 0.8;
  opacity: 0.8;
  background-image: radial-gradient(white 0.5px, var(--sand-7) 0.5px);
  background-size: 10px 10px;
}

.chartIcon {
  color: var(--indigo-1);
  opacity: 0.8;
}

.skeleton {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 25% 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}
